.header{
    height: 8vh;
    background-color: #009871;
    padding: 0 40px;
}

.header .logo-container{
    display: flex;
    align-items: center;
}

.header .logo-container img{
    height: 5vh;
    border-radius: 50%;
    margin: 0;
}